service cloud.firestore {
  match /databases/{database}/documents {
    
    match /countries/{country} {
      allow read;
      allow write: if false;
    }
    
    match /states/{state} {
      allow read;
      allow write: if false;
    }
    
    match /regions/{region} {
      allow read;
      allow write: if false;
    }
      
    match /locations/{location} {
      allow read;
      allow create: if request.auth.uid != null;
      allow update, delete: if false;
    }
      
    match /tours/{tour} {
      allow read;
      allow create: if request.auth.uid != null;
      allow update, delete: if get(resource.data.creatorRef).id == request.auth.uid;
      
      match /buddies/{buddy} {
      	allow read;
        allow create: if request.auth.uid != null;
        allow update, delete: if request.auth.uid == buddy;
      }
    }

    match /users/{user} {
    	allow get;
      allow create: if request.auth.uid != null;
      allow update, delete: if request.auth.uid == user;
    }
    
  }
}